
language: python
python:
    - "3.9"

# Cache PlatformIO packages using Travis CI container-based infrastructure
sudo: false
cache:
    directories:
        - "~/.platformio"
        - $HOME/.cache/pip

install:
    - pip install --upgrade pip
    - pip install -U platformio
    - pio update

# Remote agent <rpi_rig> needs to be up and running and the uno needs to be connected via the specified port
script:
    - pio remote -a rpi_rig run -t upload -e uno 
